# build artifacts
node_modules/
target/
debug/

.idea/

# misc
.DS_Store
*.pem

# local deployments
deployments/**/development.json
deployments/**/development.ts


# tsc files
*/**/*.js
*/**/*.js.map

# environment files
*.env*
!.env*.example
